.container
  max-width: 1920px
  min-width: 300px
  padding: 0 180px
  margin: 0 auto
  box-sizing: content-box
  @media (max-width: $width-tablet)
    padding: 0 56px
  @media (max-width: $width-mobile)
    padding: 0 24px

