block variables
    - var activePage = activePage

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        //[if IE]
        meta(http-equiv='X-UA-Compatible' content="IE = edge")

        meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")
        meta(name="keywords" content="")

        //favicon
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="icon" href="favicon.ico" type="image/x-icon")

        link(rel="stylesheet" href="https://fonts.cdnfonts.com/css/switzer")

        link(rel="stylesheet" type='text/css' href="assets/css/libs.css")
        link(rel="stylesheet" type='text/css' href="assets/css/main.css")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/19.2.19/css/intlTelInput.css")


        //[if lt IE 9]
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        //[endif]

        <!-- Yandex map script -->
        //script(src="https://api-maps.yandex.ru/2.1/?apikey=dad86943-dfef-45bd-9c5e-c404323cb093&lang=ru_RU" type="text/javascript")

        //axios
        //script(src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js")


    body
        include ../blocks/header/header
        main.main
            block content
        //include ../blocks/footer/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/19.2.19/js/intlTelInput.min.js")
    script(src="assets/scripts/libs.min.js")
    script(src="assets/scripts/main.js" type="module")
    block script