header.header
    .header__container.container
        a(href="##") Logo <br> Workmann

        button.popup-type-btn
            span.popup-type-btn-value Financial Professional
            include ../../img/icons/arr-dwn.svg

    include ../popup-type/popup-type
